<%- include ('./partials/head');
%>
<body>
  <%- include ('./partials/nav'); %>
  <div class="page">
    <div class="content">
      <h1 class="page-title"><%= curPage.title %></h1>
      <% for (let block of page) {

        if (block.type == "text") { %>
          <p><%= block.content %></p>

        <% } else if (block.type == "list") { %>
          <ul>
            <% for (let point of block.content) { %>
              <li><strong><%= point.heading %>:</strong> <%= point.text %></li>
            <% } %>
          </ul>

        <% } else if (block.type == "image") { %>
          <img src="<%= block.src %>" class="article-image" alt="<%= block.alt %>">

        <%}
      } %>
    </div>
  </div>
</body>
</html>